.profile-task-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-picture {
  width: 200px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border: 1px solid #333;
}
