html,
body {
  min-width: 600px;
}

body {
  background-color: #f1f1f1;
  color: #333;
}

.btn {
  border-radius: 0;
}

/*************CUSTOM*************/
.cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.card-item {
  text-align: center;
  padding: 1rem;
  transition: 0.5s;
}

.card-item:hover {
  background: #f3f3f3;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media (max-width: 1024px) {
  .cards-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
